:root{
    --blanco: #ffffff;
    --negro: #212121;
    --gris: #636060;
    --orange: #f57207;
    --green: #19c003;
    --prueba: #9a07ad;
    --veramari: #9acd32;


}
@font-face {
    font-family: 'Intro';
    src: url('intro-regular-webfont.woff2') format('woff2'),
         url('intro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Intro';
    src: url('intro-black-webfont.woff2') format('woff2'),
         url('intro-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}
.contenedor{
    width: 330px;
    margin-top: 0px;
    margin-right:auto;
    margin-bottom: 20px;
    margin-left:20px;
    
}
h1 {
    text-align:left;
    color:var(--blanco);
    text-align: center;
}

.subtitulos {
    color:var(--orange);
    text-align: center;
    font-size: 40px;
}

.how {
    color:var(--negro);
    font-size: 40px;
}

.objetive {
    color:var(--prueba);
    font-size: 40px;
}

.about{
    color: black;
    font-size: 20px;
    
}
.copirin span {
    color:var(--green);
}

.form-pedido {
    background-color:var(--veramari);
    text-align:center;
    
}
.nav-enlases a{
    text-decoration: none;
}
a {
    text-decoration: none;
    color: var(--gris);
}

.bot-pedido {
    display: flex;
     font-size: 25px;
     color: var(orange);
   }

.input{
    display: flex;
}